.comics {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 3rem;
}

.comics__title {
  width: 100%;
  max-width: 60rem;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0 1rem;
}

.comics__list {
  overflow-x: auto;
  width: 100%;
  max-width: 60rem;
  display: flex;
  margin: 1.5rem 0;
  gap: 1rem;
  padding: 0 1rem;
}

.comics__list::-webkit-scrollbar-thumb {
  background: var(--marvel-red);
}

.comics__list::-webkit-scrollbar-track {
  background: var(--bg-gray);
}

.comics__list::-webkit-scrollbar {
  display: none;
  height: 0.25rem;
}

@media (min-width: 48rem) {
  .comics__list,
  .comics__title {
    padding: 0 3rem;
  }
}

@media (min-width: 80rem) {
  .comics__title {
    font-size: 2rem;
  }

  .comics__list,
  .comics__title {
    padding: 0;
  }

  .comics__list {
    padding-bottom: 1.5rem;
  }

  .comics__list::-webkit-scrollbar {
    display: block;
  }
}
