.header {
  background: var(--color-dark);
  padding: var(--padding-header);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  cursor: pointer;
}

.header__favs {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: var(--color-light);
  gap: 0.5rem;
  padding: 0.5rem;
}
